
    <div class="row">
        <div class="col-sm-3">
          <div class="card" style="width: 18rem;">
            <img [src]="link1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Student By Option </h5>
              <p class="card-text">there are 8 IT specialties,Do you want to know the students by specialties?</p>
             <table>
              <tr> <td>
                <button class="btn btn-secondary" (click)="toogleTag()" > of course </button>

              </td>
              <td> 
                <a href="#" class="btn btn-warning">Return</a>

              </td>
            </tr>
            
        </table>
              
            </div>
          </div>
        </div>

        <div class="col-sm-8" *ngIf="showMe">
          <div class="card">
            <div class="card-body">
                      <!--<h3> <i >Good Choice</i> </h3>-->

            <!--- <select #getStByOpt class="form-select" aria-label="Default select example" type="opt" #opt="ngModel" [(ngModel)]="empSelected" name="opt" id="opt" (ngModelChange)="onOptionSelected($event) " (change)="getStudentByOption()">
                    
                    <option selected  >Open this select menu and Choose Option </option>
                        <option *ngFor="let op of Option " [value]="op.opt">{{op.opt}}</option>
                        
                  </select>-->

                  <app-option title ="good choice"  [data]="Option" firstoption="Open this select menu and Choose Option"
                  
                  (selectedValue)="onOptionSelected($event)" (change)="getStudentByOption()">  </app-option>

                  


                  
                  {{modifiedtext}}
                  <div class="container-fluid">
                    <div class="mt-5"><!--margin top5-->
                      <table class="table table-bordered">
                          <thead class="table table-striped table-dark">
                              <tr>
                                  <th >  idEtudiant </th>
                                  <th >  FirstName </th>
                                  <th>  LastName </th>
                                  <th>  Email </th>
                                  <th>  Option </th>
                                  <th>  department </th>
                                  <th>  Age </th>
                                  <th>  Sexe </th>
                                  
                  
                              </tr>
                  
                          </thead>
                          <tbody class="tbody" >
                              <tr *ngFor="let opt of studentByOpt ">
                                <td> {{opt.idEtudiant}} </td>
                                <td > {{opt.prenomE | uppercase}} </td>
                                <td> {{opt.nomE | uppercase}} </td>
                                <td> {{opt.emailE }} </td>
                                <td  > {{opt.opt}} </td>
                                <td > {{opt.depart.nomDepart}} </td>
                                <td> {{opt.ageE}} </td>
                                <td [ngStyle]="{color:opt.sexe==='Male'? '#3b6945':'#ff9999'}">  {{opt.sexe}} </td>
                            </tr> 

                               
                  
                              
                  
                          </tbody>
                      </table>
                  </div> 
                  </div>
            </div>
          </div>
        </div>
       

      </div>